* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #F0F2F5;
}
section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 92px 0px 132px;
}

/* 1st article  */
section article:nth-of-type(1) {
    display: flex;
    flex-direction: column;
}
#logo {
    height: 70px;
    width: 200px;
    position: relative;
    right: 10px;
}
#recent {
    font-size: 28px;
    padding-left: 10px;
}
section article:nth-of-type(1) div:nth-of-type(2) {
    padding-bottom: 12px;
    padding-left: 10px;
    margin-bottom: 12px;
    color: #606770;
}
figure {
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #dddfe2;
    position: relative;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
figure:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
figure img {
    width: 160px;
    height: 160px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#cancel {
    position: absolute;
    left: 5px;
    top: 5px;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    background-color: rgb(63, 62, 62);
    opacity: 0.5;
    transition-duration: 0.1s;
}
figure:nth-of-type(1):hover #cancel {
    background-color: white;
    color: rgb(10, 10, 11);
    transform: scale(1.3,1.3);
    opacity: 1;
    top: -5px;
    left: -5px;
}
figure:nth-of-type(2) div {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 160px;
    height: 164px;
    background-color: #f5f6f7;
    display: flex;
    justify-content: center;
    align-items: center;
}
i {
    font-size: 40px;
}
figcaption {
    font-size: 18px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    text-align: center;
    padding: 12px 0;
}
#blue {
    color: #1877f2;
}
section article:nth-of-type(1) div:nth-of-type(3) {
    display: flex;
    flex-wrap: wrap;
}

/* 2nd article  */
#form {
    width: 396px;
    background-color: white;
    /* border: none; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1),
    0 8px 16px rgba(0, 0, 0, .1);
    text-align: center;
    padding: 20px 0 28px;
    margin-top: 40px;
}
#hr {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    font-size: 17px;
    width: 363px;
    height: 51px;
    padding: 14px 16px;
    color: #1d2129;
    border-radius: 6px;
    margin: 6px 0;
    border: 1px solid #dddfe2;
}
input:focus {
    outline: none;
    border: 1px solid #1877f2;
}
#form button:nth-of-type(1) {
    width: 363px;
    height: 48px;
    margin: 6px 0 0;
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}
#form a {
    display: inline-block;
    margin: 16px 0 0;
    color: #1877f2;
}
#form button:nth-of-type(2) {
    background-color: #42b72a;
    color: white;
    height: 48px;
    width: 192px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 17px;
}
section article:nth-of-type(2) div:nth-of-type(2) {
    margin: 28px 0 0;
    text-align: center;
    font-size: 14px;
    color: #1c1e21;
}
.anchor {
    color: #1c1e21;
    font-weight: 600;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#form button:nth-of-type(1):hover {
    background-color: #166fe5;
    cursor: pointer;
}
#form button:nth-of-type(2):hover {
    background-color: #36a420;
    cursor: pointer;
}

/* footer  */
body {
    margin: 0;
    padding: 0;
}
footer {
    background-color: white;
    color: #8a8d91;
    font-size: 12px;
    padding: 50px;
    margin: 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-spacing: 12px;
    line-height: 1.2rem;
}
footer div {
    width: 70%;
}
footer div i {
    font-size: 15px;
    border: 1px solid #ccd0d5;
    border-radius: 10%;
    padding: 2px 8px;
    color: #4b4f56;
}




